.itemCar{
    padding-right: 2rem;
    padding-top: 2rem;
    padding-left: 2rem;
   
}

.cart:hover{
    transform: scale(1.1);
    border: 3px solid;
    
}

.decoration{
    text-decoration: none;
}