.App {
  text-align: center;
 
}

footer{

  margin-top: 2rem;
  position: absolute;
  bottom: 0;
  width:100%;
  padding-top: 2rem;
  height: 10vh;
}


main{
margin-right: 1rem;
margin-left: 1rem;
margin-top: 1rem;
padding-bottom: 5rem;
}

